[Unit]
Description=Consul
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/consul agent -client 0.0.0.0 -bind {{ ansible_default_ipv4.address }} -join {{ hostvars[groups['consul_server'][0]].ansible_default_ipv4.address }} -config-file /etc/consul/consul.json -ui -data-dir /etc/consul
